<h2>Books List</h2>
<br>

<form action="/books" method="get">
    Search:
    <label for="title">by Name:</label>
    <input type="text" name="title" id="searchBookTitle"
        value="<%= (locals.searchOptions.title!=null)?searchOptions.title:'' %>">

    <label for="publishedAfter">Published After:</label>
    <input type="date" name="publishedAfter" id="publishedAfter" value="<%= searchOptions.publishedAfter %>">

    <label for="publishedBefore">Published Before:</label>
    <input type="date" name="publishedBefore" id="publishedBefore" value="<%= searchOptions.publishedBefore %>">

    <button type="submit">search</button>
</form>

<br>

<% if(locals.books){ %>
    <a href="/books/new">Add a Book</a>
    <table border="1px">
        <th>ID</th>
        <th>cover</th>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Publish Date</th>
        <th width="60%"></th>
        <th colspan="3">Commands</th>

        <% books.forEach(itm=> { %>
            <tr>
                <td>
                    <%= itm.id %>
                </td>
                <td>
                    <img src="<%= itm.coverImageFullPath %>" alt="book cover for <%= itm.title %>" width="150px" height="250px">
                </td>
                <td>
                    <%= itm.title %>
                </td>
                <td>
                    <%= itm.author %>
                </td>
                <td>
                    <%= itm.pageCount %>
                </td>
                <td>
                    <%= (itm.publishDate)?itm.publishDate.toISOString().split('T')[0]:'' %>
                </td>
                <td></td>

                <!-- Commands -->
                <td><a href="/books/<%= itm.id %>">View</a></td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
            <% }); %>

    </table>
    <a href="/books/new">Add a Book</a>
    <% } %>